body{
  margin: 175px 20px;
  font-family: 'Roboto', sans-serif;}

 .banner-img{
  margin:-100px 10px;
  background-color:  #dc3545;
  border-radius: 50%;
  width: 500px ;
  height: 500px ;
}
.title{
  font-weight: 900;
  font-size: 55px;
}
.banner-btn{border: 1px solid #0e1133 ;
text-decoration: none;
padding: 10px 35px;
margin: 6px;
border-radius: 10px;
}
.btn-ios{
  background-color: #0e1133;
color: white;
}
.btn-andriod{
  color: #0e1133;

}
.btn-ios:hover{ 
  background-color: white;
  color: #0e1133;
}
.btn-andriod:hover{
  background-color: #0e1133;
  color: white;
}